body{
background: #ffa600;

}

.brasileirão{
    width: 300px;
margin-left: 40%;
border: solid 5px black;
}

h1 {
    color: black;
    text-align: center;
}

.centralizar{
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    color: black;
}

